//colors 

$pastel-green: #CF0B8;
$lilac:#cbb4ec;
$sky-blue : #b2d6ef;

//font-size 

$small:  '16px';
$med:  '21px';
$large: '48px';
$xlarge: '78px';

//font-family 

$basefont: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;



