


//clearfix 

@import 'setup.scss';


//root
@import 'styles.scss';

//variables

@import 'variables.scss';
//Layouts

@import 'layouts/container';
@import 'layouts/header';
@import 'layouts/nav';
@import 'layouts/section';
@import 'layouts/footer';


//components 

@import 'components/copy';



    

  *,*:before,*:after {
    box-sizing: border-box;
  }




  html {
    box-sizing: border-box;
  }
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }


  body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
  }
  ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    list-style: none;
  
    
}li {
  margin:1em;
  list-style:none;
  display: flex;
    align-items: flex-start;
}



    
  
  
  










 


      body {
        font-family:'Glacial indifference';
      }

        


    ///main styling occurs here





 

         
    
            
        
    svg {
        color:#CBB5EA;
        &:hover {
                color:$pastel-green;
            }
       
    }


        img {
            border-radius:25%;
            width:186px;
            height:229px;
            display:block;
            margin-left:auto;
            
            @media only screen and (max-width: 640px) {
                width:75%;
                height:75%;
                margin:0 auto;
                
            }
            
        }











