article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.container {
  max-width: 900px;
  margin: 0 auto; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.container {
  z-index: 90000000000;
  position: relative;
  margin-right: auto;
  /* 1 */
  margin-left: auto;
  /* 1 */
  max-width: 70%;
  /* 2 */
  padding-right: 10px;
  /* 3 */
  padding-left: 10px;
  /* 3 */ }
  @media only screen and (max-width: 640px) {
    .container {
      max-width: 100%;
      padding: 0;
      margin: auto; } }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

.subtitle___small {
  color: #8b8cb3;
  font-size: 24px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  line-height: 0; }

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif; }

ul {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  list-style: none; }

li {
  margin: 1em;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

a {
  text-decoration: none;
  color: #ffffff;
  font-size: 13px;
  /* Approximation due to font substitution */
  font-weight: 400;
  line-height: 72px;
  /* Approximation due to font substitution */
  text-align: right; }

a:hover {
  -webkit-text-decoration: underline #ffaabc;
          text-decoration: underline #ffaabc; }

.dwn__btn {
  margin-top: auto;
  display: inline-block;
  position: absolute;
  bottom: 3%;
  left: 50%;
  right: 50%;
  -webkit-animation: bounce 0.5s;
          animation: bounce 0.5s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  font-size: 30px; }

@-webkit-keyframes bounce {
  from {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); }
  to {
    -webkit-transform: translate3d(0, 10px, 0);
            transform: translate3d(0, 10px, 0); } }

@keyframes bounce {
  from {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); }
  to {
    -webkit-transform: translate3d(0, 10px, 0);
            transform: translate3d(0, 10px, 0); } }

header {
  background: #0f105e;
  z-index: 0;
  text-align: center;
  height: 100vh;
  font-family: 'Glacial indifference'; }
  header img {
    width: 381px;
    height: 336px;
    display: block;
    margin-left: auto; }

nav {
  width: 100%; }
  @media only screen and (max-width: 640px) {
    nav {
      display: none; } }

.cmyk {
  color: #000;
  text-shadow: 0.322rem -0.25rem rgba(203, 181, 234, 0.899), 0 0.45rem rgba(241, 235, 186, 0.55);
  margin: 0;
  padding: 0;
  font-size: 6rem;
  display: block; }

.txt__hightlight {
  color: #ff546c;
  font-size: 50px; }

.inner__wrapper {
  margin: 0 auto;
  padding-top: 5em;
  z-index: 999; }
  @media only screen and (max-width: 320px) {
    .inner__wrapper {
      width: 100%;
      padding: 0; } }
  .inner__wrapper a {
    border: 1px solid #ffb09f;
    border-radius: 44px 44px;
    display: inline-block;
    width: 150px;
    padding: 10px;
    text-align: center; }
  .inner__wrapper .mobile__nav {
    display: none; }
    @media only screen and (max-width: 640px) {
      .inner__wrapper .mobile__nav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin: 0; } }
    @media only screen and (max-width: 640px) {
      .inner__wrapper .mobile__nav a {
        padding: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin: 0;
        border: none;
        font-size: 10px;
        width: auto; } }

header {
  text-align: left;
  background: #fff; }
  @media only screen and (max-width: 640px) {
    header {
      padding: 5em;
      height: auto; } }
  header span {
    color: #CBB5EA;
    font-size: 18px;
    margin: 0;
    line-height: 0;
    font-weight: 100;
    margin-right: .25em; }
  header h1 {
    color: #000;
    text-align: center;
    font-weight: 100;
    font-size: 4rem;
    line-height: 1.2;
    padding: 0;
    margin: 0;
    text-align: left; }
    @media only screen and (max-width: 640px) {
      header h1 {
        font-size: 9vw; } }
  header p {
    font-size: 14px; }
    @media only screen and (max-width: 640px) {
      header p {
        font-size: 3vw; } }
  header ul li {
    padding: 0;
    font-size: 13px;
    line-height: 0; }
    header ul li a {
      line-height: 1.2em; }

.wrapper {
  border: 2px solid red;
  padding: 25px 50px; }

a {
  color: #6E5C34;
  text-decoration: none;
  display: block;
  margin: 20px auto;
  position: relative;
  overflow: hidden;
  padding: 0 6px;
  text-transform: uppercase;
  -webkit-transition: color 0.3s cubic-bezier(0.11, 0.7, 0, 1);
  transition: color 0.3s cubic-bezier(0.11, 0.7, 0, 1);
  font-size: 13px;
  letter-spacing: .15rem;
  line-height: 1.8; }

.link__hover:after {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #ffaabc;
  content: "";
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.11, 0.7, 0, 1);
  transition: -webkit-transform 0.3s cubic-bezier(0.11, 0.7, 0, 1);
  transition: transform 0.3s cubic-bezier(0.11, 0.7, 0, 1);
  transition: transform 0.3s cubic-bezier(0.11, 0.7, 0, 1), -webkit-transform 0.3s cubic-bezier(0.11, 0.7, 0, 1); }

.link__hover:hover:after {
  -webkit-transform: scale(1);
          transform: scale(1); }

header {
  z-index: 1; }
  @media only screen and (max-width: 640px) {
    header .container {
      background: url("http://chiaracodes.com/decor_pastels.png");
      background-size: cover;
      background-repeat: no-repeat; } }

.pastel__box {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999999; }
  @media only screen and (max-width: 640px) {
    .pastel__box img {
      display: none; } }

body {
  font-family: 'Glacial indifference'; }

.button {
  position: relative;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 1em;
  border: none;
  font-size: 1em;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  border-radius: 100px;
  border: none; }
  .button span {
    position: relative;
    pointer-events: none; }
  .button::before {
    --size: 0;
    content: '';
    position: absolute;
    left: var(--x);
    top: var(--y);
    width: var(--size);
    height: var(--size);
    background: #B993D6;
    /* fallback for old browsers */
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-gradient(linear, left top, left bottom, from(#8CA6DB), to(#B993D6));
    background: linear-gradient(to bottom, #8CA6DB, #B993D6);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-transition: width .2s ease, height .2s ease;
    transition: width .2s ease, height .2s ease; }
  .button:hover::before {
    --size: 400px; }

.main {
  background: #f4f5f8;
  padding: 50px; }
  @media only screen and (max-width: 640px) {
    .main {
      width: 100%; } }
  .main span {
    color: yellow; }
  .main ul {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex; }
  .main h2 {
    font-weight: bold;
    color: #000;
    margin: 0;
    padding: 0; }
  .main p {
    color: #000;
    font-size: 14px;
    margin: 0;
    padding: 0; }
  .main svg {
    color: #CBB5EA; }
    .main svg:hover {
      color: #CBF0B8; }
  .main p span {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    text-decoration: underline;
    -webkit-text-decoration-color: #CBF0B8;
            text-decoration-color: #CBF0B8;
    -webkit-text-decoration-style: wavy;
            text-decoration-style: wavy; }
  .main a {
    display: inline-block;
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: inherit;
    text-transform: none;
    font-family: inherit;
    font-style: inherit;
    font-weight: inherit;
    line-height: inherit;
    height: auto;
    overflow: inherit;
    letter-spacing: inherit;
    color: #000;
    text-decoration: underline;
    -webkit-text-decoration-color: #CBF0B8;
            text-decoration-color: #CBF0B8; }
    .main a:hover {
      color: #CBF0B8; }
  .main img {
    border-radius: 25%;
    width: 186px;
    height: 229px;
    display: block;
    margin-left: auto; }
    @media only screen and (max-width: 640px) {
      .main img {
        width: 75%;
        height: 75%;
        margin: 0 auto; } }

.twice {
  background: url("http://chiaracodes.com/bg.png");
  background-repeat: no-repeat; }

.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%; }
  .box span {
    margin-bottom: 3em;
    font-size: 2em; }

svg {
  width: 25px;
  height: 25px; }

.box__flex {
  width: 25%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 1em;
  margin-bottom: 1em;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center; }
  .box__flex img {
    width: 95%;
    height: 95%;
    display: block;
    margin: 0 auto; }
  @media only screen and (max-width: 640px) {
    .box__flex {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      padding: 2em; } }
  .box__flex h4 {
    font-size: 30px;
    font-weight: 100;
    text-align: left; }
  .box__flex p {
    font-size: 17px;
    text-align: left; }
    @media only screen and (max-width: 640px) {
      .box__flex p {
        font-size: 14px; } }

.content {
  background: url("http://chiaracodes.com/decor_pastels.png");
  background-size: 20% auto;
  background-position-x: 0%;
  background-position-y: 0%;
  background-repeat: no-repeat; }

.content .inner__wrapper {
  padding: 0;
  margin: 0; }
  .content .inner__wrapper a {
    border: none;
    width: 100%; }
  .content .inner__wrapper li {
    width: 100%; }

.content {
  padding: 25px 50px; }
  .content .wrapper {
    max-width: 75%;
    margin-right: auto;
    border: none; }
    @media only screen and (max-width: 640px) {
      .content .wrapper {
        max-width: 100%; } }
  .content h2 {
    margin: 0;
    padding: 0;
    font-size: 48px; }
    @media only screen and (max-width: 640px) {
      .content h2 {
        font-size: 7vw; } }
  .content p {
    font-size: 14px; }
  .content span {
    color: #CBB5EA;
    display: inline-block; }

html {
  font-size: 2vw; }

h2 {
  font-size: 40px; }

.skills {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  background: url("http://chiaracodes.com/decor_pastels.png");
  background-size: 20% auto;
  background-position-x: 100%;
  background-position-y: 50%;
  background-repeat: no-repeat;
  padding: 35px 50px; }
  .skills .copy__icons {
    max-width: 45%;
    margin: 0 auto; }
    .skills .copy__icons ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-flow: wrap;
          flex-flow: wrap; }
    .skills .copy__icons li {
      margin: .5em; }
    .skills .copy__icons ul li:nth-child(1n+1) {
      color: #caf1b6; }
    .skills .copy__icons ul li:nth-child(2n+2) {
      color: #cbb4ec; }
    .skills .copy__icons ul li:nth-child(3n+3) {
      color: #b2d6ef; }

.homepage-hero-module {
  opacity: .5;
  greyscale: 50%;
  border-right: none;
  border-left: none;
  position: relative; }

.no-video .video-container video,
.touch .video-container video {
  display: none; }

.no-video .video-container .poster,
.touch .video-container .poster {
  display: block !important; }

.video-container {
  position: relative;
  bottom: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #000; }

.video-container .poster img {
  width: 100%;
  bottom: 0;
  position: absolute; }

.video-container .filter {
  z-index: 100;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  width: 100%; }

.video-container video {
  position: absolute;
  z-index: 0;
  bottom: 0; }

.video-container video.fillWidth {
  width: 100%; }
