article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.container {
  max-width: 900px;
  margin: 0 auto; }

@supports (display: grid) {
  .grid {
    display: grid;
    grid-gap: 1vw;
    min-height: 100vh;
    padding: 2.5vw; }
  .grid {
    grid-template-columns: repeat(1);
    grid-template-areas: "hero   hero" "big1   big1" "med1   med1" "med2   med2" "small1 small2" "small3 small4" "small5 small6" "small7 small8" "small9 small10"; }
  @media screen and (min-width: 750px) {
    .grid {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(1, 50vh);
      grid-template-areas: "hero   hero   hero   med1   med1" "hero   hero   hero   med2   med2" "big1   big1   big1   big1   big1" "small1 small2 small3 small4 small5" "small6 small7 small8 small9 small10"; } }
  @media screen and (min-width: 1400px) {
    .grid {
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: auto;
      grid-template-areas: "small1 hero   hero hero med1   med1" "small2 hero   hero hero med2   med2" "small3 small5 big1 big1 small7 small8" "small4 small6 big1 big1 small9 small10"; } }
  .grid .item:nth-child(1) {
    grid-area: hero; }
  .grid .item:nth-child(2) {
    grid-area: big1; }
  .grid .item:nth-child(3) {
    grid-area: med1; }
  .grid .item:nth-child(4) {
    grid-area: med2; }
  .grid .item:nth-child(5) {
    grid-area: small1; }
  .grid .item:nth-child(6) {
    grid-area: small2; }
  .grid .item:nth-child(7) {
    grid-area: small3; }
  .grid .item:nth-child(8) {
    grid-area: small4; }
  .grid .item:nth-child(9) {
    grid-area: small5; }
  .grid .item:nth-child(10) {
    grid-area: small6; }
  .grid .item:nth-child(11) {
    grid-area: small7; }
  .grid .item:nth-child(12) {
    grid-area: small8; }
  .grid .item:nth-child(13) {
    grid-area: small9; }
  .grid .item:nth-child(14) {
    grid-area: small10; } }

/* flexbox fallback is the browser does not support display:grid */
@supports not (display: grid) {
  .grid {
    display: grid;
    grid-gap: 1vw;
    min-height: 100vh;
    padding: 1.5vw; }
  .grid .item {
    min-height: 20vh;
    margin: 0.75vw; }
  .grid .item:nth-child(1) {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 calc(100% - 1.5vw);
            flex: 0 1 calc(100% - 1.5vw);
    height: 50vh; }
  .grid .item:nth-child(2) {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 calc(100% - 1.5vw);
            flex: 0 1 calc(100% - 1.5vw);
    height: 30vh; }
  .grid .item:nth-child(3) {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 calc(100% - 1.5vw);
            flex: 0 1 calc(100% - 1.5vw); }
  .grid .item:nth-child(4) {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 calc(100% - 1.5vw);
            flex: 0 1 calc(100% - 1.5vw); }
  .grid .item:nth-child(5) {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 calc(50% - 1.5vw);
            flex: 0 1 calc(50% - 1.5vw); }
  .grid .item:nth-child(6) {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 calc(50% - 1.5vw);
            flex: 0 1 calc(50% - 1.5vw); }
  .grid .item:nth-child(7) {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 calc(50% - 1.5vw);
            flex: 0 1 calc(50% - 1.5vw); }
  .grid .item:nth-child(8) {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 calc(50% - 1.5vw);
            flex: 0 1 calc(50% - 1.5vw); }
  .grid .item:nth-child(9) {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 calc(50% - 1.5vw);
            flex: 0 1 calc(50% - 1.5vw); }
  .grid .item:nth-child(10) {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 calc(50% - 1.5vw);
            flex: 0 1 calc(50% - 1.5vw); }
  .grid .item:nth-child(11) {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 calc(50% - 1.5vw);
            flex: 0 1 calc(50% - 1.5vw); }
  .grid .item:nth-child(12) {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 calc(50% - 1.5vw);
            flex: 0 1 calc(50% - 1.5vw); }
  .grid .item:nth-child(13) {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 calc(50% - 1.5vw);
            flex: 0 1 calc(50% - 1.5vw); }
  .grid .item:nth-child(14) {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 calc(50% - 1.5vw);
            flex: 0 1 calc(50% - 1.5vw); }
  @media screen and (min-width: 750px) {
    .grid .item:nth-child(1) {
      -webkit-box-flex: 0;
          -ms-flex: 0 1 calc(60% - 1.5vw);
              flex: 0 1 calc(60% - 1.5vw); }
    .grid .item:nth-child(2) {
      -webkit-box-flex: 0;
          -ms-flex: 0 1 calc(40% - 1.5vw);
              flex: 0 1 calc(40% - 1.5vw);
      height: 50vh; } }
  @media screen and (min-width: 1400px) {
    .grid .item:nth-child(1) {
      -webkit-box-flex: 0;
          -ms-flex: 0 1 calc(60% - 1.5vw);
              flex: 0 1 calc(60% - 1.5vw); }
    .grid .item:nth-child(2) {
      -webkit-box-flex: 0;
          -ms-flex: 0 1 calc(40% - 1.5vw);
              flex: 0 1 calc(40% - 1.5vw); }
    .grid .item:nth-child(3) {
      -webkit-box-flex: 0;
          -ms-flex: 0 1 calc(50% - 1.5vw);
              flex: 0 1 calc(50% - 1.5vw); }
    .grid .item:nth-child(4) {
      -webkit-box-flex: 0;
          -ms-flex: 0 1 calc(50% - 1.5vw);
              flex: 0 1 calc(50% - 1.5vw); }
    .grid .item:nth-child(5) {
      -webkit-box-flex: 0;
          -ms-flex: 0 1 calc(25% - 1.5vw);
              flex: 0 1 calc(25% - 1.5vw); }
    .grid .item:nth-child(6) {
      -webkit-box-flex: 0;
          -ms-flex: 0 1 calc(25% - 1.5vw);
              flex: 0 1 calc(25% - 1.5vw); }
    .grid .item:nth-child(7) {
      -webkit-box-flex: 0;
          -ms-flex: 0 1 calc(25% - 1.5vw);
              flex: 0 1 calc(25% - 1.5vw); }
    .grid .item:nth-child(8) {
      -webkit-box-flex: 0;
          -ms-flex: 0 1 calc(25% - 1.5vw);
              flex: 0 1 calc(25% - 1.5vw); }
    .grid .item:nth-child(9) {
      -webkit-box-flex: 0;
          -ms-flex: 0 1 calc(25% - 1.5vw);
              flex: 0 1 calc(25% - 1.5vw); }
    .grid .item:nth-child(10) {
      -webkit-box-flex: 0;
          -ms-flex: 0 1 calc(25% - 1.5vw);
              flex: 0 1 calc(25% - 1.5vw); }
    .grid .item:nth-child(11) {
      -webkit-box-flex: 0;
          -ms-flex: 0 1 calc(25% - 1.5vw);
              flex: 0 1 calc(25% - 1.5vw); }
    .grid .item:nth-child(12) {
      -webkit-box-flex: 0;
          -ms-flex: 0 1 calc(25% - 1.5vw);
              flex: 0 1 calc(25% - 1.5vw); }
    .grid .item:nth-child(13) {
      -webkit-box-flex: 0;
          -ms-flex: 0 1 calc(25% - 1.5vw);
              flex: 0 1 calc(25% - 1.5vw); }
    .grid .item:nth-child(14) {
      -webkit-box-flex: 0;
          -ms-flex: 0 1 calc(25% - 1.5vw);
              flex: 0 1 calc(25% - 1.5vw); } } }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.container {
  margin-right: auto;
  /* 1 */
  margin-left: auto;
  /* 1 */
  max-width: 70%;
  /* 2 */
  padding-right: 10px;
  /* 3 */
  padding-left: 10px;
  /* 3 */ }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

.subtitle___small {
  color: #8b8cb3;
  font-size: 24px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  line-height: 0; }

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif; }

ul {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  list-style: none; }

li {
  margin: 1em;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

a {
  text-decoration: none;
  color: #ffffff;
  font-size: 13px;
  /* Approximation due to font substitution */
  font-weight: 400;
  line-height: 72px;
  /* Approximation due to font substitution */
  text-align: right; }

a:hover {
  -webkit-text-decoration: underline #ffaabc;
          text-decoration: underline #ffaabc; }

header {
  background: #0f105e;
  z-index: 0;
  text-align: center;
  height: 100vh;
  font-family: 'Glacial indifference'; }
  header img {
    width: 381px;
    height: 336px;
    display: block;
    margin-left: auto; }

nav {
  width: 100%; }

.cmyk {
  color: #000;
  text-shadow: 0.322rem -0.25rem rgba(203, 181, 234, 0.899), 0 0.45rem rgba(241, 235, 186, 0.55);
  margin: 0;
  padding: 0;
  font-size: 6rem;
  display: block; }

footer {
  background: url("http://chiaracodes.com/blue_banner.png") #0B0F4D;
  background-size: contain;
  background-repeat: no-repeat; }

.txt__hightlight {
  color: #ff546c;
  font-size: 50px; }

.inner__wrapper {
  margin: 0 auto;
  padding-top: 5em; }
  .inner__wrapper a {
    border: 1px solid #ffb09f;
    border-radius: 44px 44px;
    display: inline-block;
    width: 150px;
    padding: 10px;
    text-align: center; }

header {
  background: #fff; }
  header h1 {
    color: #000;
    text-align: center;
    font-weight: 100;
    font-size: 78px;
    line-height: 1.2;
    padding: 0;
    margin: 0; }
  header ul li {
    padding: 0;
    font-size: 13px;
    line-height: 0; }
    header ul li a {
      line-height: 1.2em; }

.wrapper {
  border: 2px solid red;
  padding: 25px 50px; }

a {
  color: #6E5C34;
  text-decoration: none;
  display: block;
  margin: 20px auto;
  position: relative;
  overflow: hidden;
  padding: 0 6px;
  text-transform: uppercase;
  -webkit-transition: color 0.3s cubic-bezier(0.11, 0.7, 0, 1);
  transition: color 0.3s cubic-bezier(0.11, 0.7, 0, 1);
  font-size: 13px;
  letter-spacing: .15rem;
  line-height: 1.8; }

.link__hover:after {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #ffaabc;
  content: "";
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.11, 0.7, 0, 1);
  transition: -webkit-transform 0.3s cubic-bezier(0.11, 0.7, 0, 1);
  transition: transform 0.3s cubic-bezier(0.11, 0.7, 0, 1);
  transition: transform 0.3s cubic-bezier(0.11, 0.7, 0, 1), -webkit-transform 0.3s cubic-bezier(0.11, 0.7, 0, 1); }

.link__hover:hover:after {
  -webkit-transform: scale(1);
          transform: scale(1); }

header {
  z-index: 1; }

.pastel__box {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0; }

body {
  font-family: 'Glacial indifference'; }

.button {
  position: relative;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 1em;
  border: none;
  font-size: 1em;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  border-radius: 100px;
  border: none; }
  .button span {
    position: relative;
    pointer-events: none; }
  .button::before {
    --size: 0;
    content: '';
    position: absolute;
    left: var(--x);
    top: var(--y);
    width: var(--size);
    height: var(--size);
    background: #B993D6;
    /* fallback for old browsers */
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-gradient(linear, left top, left bottom, from(#8CA6DB), to(#B993D6));
    background: linear-gradient(to bottom, #8CA6DB, #B993D6);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-transition: width .2s ease, height .2s ease;
    transition: width .2s ease, height .2s ease; }
  .button:hover::before {
    --size: 400px; }

.main {
  background: #f4f5f8; }

.box__overlay {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #000;
  background: #f4f5f8;
  -webkit-box-shadow: 25px 43px 100px 0px rgba(25, 26, 100, 0.2);
          box-shadow: 25px 43px 100px 0px rgba(25, 26, 100, 0.2);
  margin: 0 auto;
  z-index: 1;
  height: auto;
  -webkit-transform: translateY(-30%);
          transform: translateY(-30%);
  padding: 20px 25px; }
  .box__overlay .container {
    max-width: 80%;
    margin: 0; }
    .box__overlay .container span {
      color: yellow; }
  .box__overlay ul {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex; }
  .box__overlay h2 {
    font-size: 36px;
    font-weight: bold;
    color: #000;
    line-height: .2em; }
  .box__overlay p {
    color: #000; }

.copy__left {
  width: 50%;
  padding: 25px; }
  .copy__left span {
    color: #3ed2a7; }
  .copy__left img {
    border-radius: 50%;
    width: 186px;
    height: 229px;
    display: block;
    margin-left: auto; }

.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%; }
  .box span {
    margin-bottom: 3em;
    font-size: 2em; }

@supports not (display: grid) {
  body:before {
    content: 'Sorry, seems like your browser doesn\'t support display: grid. Below is the flexbox fallback.';
    display: block;
    padding: 2rem 2rem 0;
    color: #ffffff;
    text-align: center; } }

@media screen and (min-width: 1400px) {
  .header h2 {
    font-weight: normal;
    font-size: 1.5rem; } }

.grid .item:hover .diamond,
.grid .item:focus .diamond {
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  -webkit-transform: rotateZ(45deg) scale(1.2);
          transform: rotateZ(45deg) scale(1.2); }

.grid .item:hover .tooltip,
.grid .item:focus .tooltip {
  opacity: 1; }

.grid .item {
  position: relative;
  padding: 1vw;
  background-position: left bottom;
  background-position: top left;
  outline: transparent; }

.grid .item:hover,
.grid .item:focus {
  background-position: top right; }

.grid .item:focus {
  outline: 2px solid #3eabfa; }

.grid .item:nth-child(1) {
  background: url("http://chiaracodes.com/placeit1.png");
  background-size: auto 90%;
  background-repeat: no-repeat; }

.grid .item:nth-child(2) {
  background-image: linear-gradient(45deg, #fb7ef6 0%, #cbabfb 60%); }
